  html, body {
    height: 100%;
    width: 1440px;
  }
  *{
    margin: 0;
    padding: 0;
  }
  body{
    background-color: #c0c0c4;
  }
  .main{
    display: grid;
    width: 50%;
    margin: auto;
    align-content: center;
    height: 150vh;
    grid-gap: 10px;
    grid-template-areas: 
    'o o y'
    'g b b';
  }
  .orange{
    background-color: #be5713;
    grid-area: o;
    padding: 55px;
    height: 100px;
  }
  .yellow{
    background-color: #d59e07;
    grid-area: y;
    padding: 55px;
    height: 100px;
  }
  .green{
    background-color: #009900;
    grid-area: g;
    padding: 65px;
    height: 120px;
  }
  .blue{
    grid-area: b;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .skyblue{
    padding: 50px;
    height: 20px;
    background-color: #1f7fe5;
  }
  .cyan{
    padding: 50px;
    height: 20px;
    background-color: #1f7fe5;
  }
  @media(min-width: 992px){
  html{
     max-width:1440px;
  }
 .body{
     width:100%;
      }
  .main{
    width:80%;
  }
  }
  @media (min-width:768px) and (max-width:991px) {
  html{
     max-width:991px;
  }
 .body{
     width:100%;
      }
  .main{
    width:80%;
  }
  }
  @media(max-width:767px){
  html{
     max-width:767px;
  }
 .body{
     width:100%;
      }
 .main{
    width:80%;
  }
  }
